<h1>WeatherStation</h1>

<p>Lux: <%= @weather_station.lux %></p>
<p>Luftdruck: <%= @weather_station.air_pressure %></p>
<p>Höhe: <%= @weather_station.altitude %></p>
<p>Luftfeuchte: <%= @weather_station.relative_humidity %></p>
<p>Temparatur: <%= @weather_station.centigrade %></p>
